---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogInsight from "@components/blog/BlogInsight.astro";
import HeroSection from "@components/ui/sections/HeroSection.astro";

const posts: CollectionEntry<"posts">[] = (await getCollection("posts"))
    .sort(
        (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
            b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    )
    .slice(0, 8);
---

<BaseLayout>
    <HeroSection
        title=`Plomería <span class="text-[#274e86] dark:text-[#80cce2]">Campos</span>`
        subTitle="Somos una empresa de servicios dedicada en fontaneria e hidrosanitaria, instalacion de redes de agua, alcantarillado, bombas de agua, desagues pluviales, contraincendios, entre otros en todo el territorio boliviano."
        primaryBtn="Cotizar servicio"
        primaryBtnURL="https://wa.me/59178300509/?text=Hola%20Plomería%20Campos%2C%20me%20gustaría%20cotizar%20un%20servicio"
    />

    <section
        class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
    >
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2
                class="text-2xl font-bold text-[#274e86] dark:text-neutral-200 md:text-4xl md:leading-tight"
            >
                NUESTROS SERVICIOS
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-300">
                Conoce más sobre nuestros servicios de fontanería, instalaciones
                eléctricas y más.
            </p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {posts.map((b) => <BlogInsight blog={b} />)}
        </div>
    </section>
</BaseLayout>
