<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<a
    href="https://wa.me/59178300509/?text=Hola%2C%20me%20gustaría%20saber%20más%20sobre%20sus%20servicios"
    target="_blank"
    class="float"
>
    <i class="fa-brands fa-whatsapp"> </i>
</a>

<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        background-color: #25d366;
        bottom: 40px;
        right: 40px;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 999;
    }
    .fa-whatsapp {
        font-size: 60px;
    }
    .float:hover {
        background-color: #28e76e;
    }
</style>
